html {
  background: rgb(223, 211, 204);
  font-family: helvetica, arial, sans-serif;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

#logo {
  font-size: 2rem;
}

#user-input {
  display: inline-block;
  position: absolute;
  right: 1rem;
  width: max-content;
  top: 0.5rem;
}

#navbar {
  margin-bottom: 0 !important;
}

.week-button {
  background: transparent;
  flex-grow: 1;
  font-size: 4rem;
  color: #000;
  border: 0;
}

.week-button:hover {
  cursor: pointer;
  color: #9f505e;
}

.week-button:focus {
  background: transparent;
}

#week-slider {
  display: flex;
  grid-row: 1;
  grid-column: 1 / span 2;
  margin: 2rem;
  justify-content: space-around;
}

#schedule {
  margin: 2rem;
  height: 100%;
  display: grid;
  padding: 2rem 0;
  grid-template-columns: 0.5fr repeat(7, 1fr);
  grid-template-rows: repeat(64, minmax(0.6rem, max-content));
  justify-items: center;
  border-top: 0.3rem solid black;
}

#container {
  margin: 0;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: max-content 1fr;
}

#sidebar {
  background: rgb(180, 148, 148);
  grid-area: 1 / 1 / 3 / 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.column-title {
  padding-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#time8a {
  grid-column: 1;
  grid-row: 2 / span 8;
}
#time10a {
  grid-column: 1;
  grid-row: 10 / span 8;
}
#time12p {
  grid-column: 1;
  grid-row: 18 / span 8;
}
#time2p {
  grid-column: 1;
  grid-row: 26 / span 8;
}
#time4p {
  grid-column: 1;
  grid-row: 34 / span 8;
}
#time6p {
  grid-column: 1;
  grid-row: 42 / span 8;
}
#time8p {
  grid-column: 1;
  grid-row: 50 / span 8;
}

.shift {
  background-color: rgb(115, 131, 145);
  color: rgb(235, 235, 235);
  margin: 0 0.7rem;
  padding: 1.1rem;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
}
