html {
  background: rgb(223, 211, 204);
  font-family: helvetica, arial, sans-serif;
}
body {
  margin: 0;
}

main {
  margin: 1.5rem;
}

#navbar > * {
  color: white;
  font-size: 1rem;
  margin: 1rem 1.5rem;
  text-decoration: none;
}
#navbar > a:hover, #logo:hover{
  text-decoration: underline;
  cursor: pointer;
}

#logo {
  font-size: 2.2rem;
}

table, td, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.2rem;
  text-align: left;
  vertical-align: bottom;
}

select {
 font-size: 1rem;
 max-width: min-content;
}

#navbar {
  display: flex;
  height: auto;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
}

.week-button {
  background: transparent;
  font-size: 4rem;
  border: 0;
}

.week-button:hover {
  cursor: pointer;
  color: #9f505e;
}

.week-button:focus {
  background: transparent;
}

#week-slider {
  font-size: 2rem;
  display: flex;
  grid-row: 1;
  grid-column: 1 / span 2;
  justify-content: space-around;
}

#schedule {
  margin: 0;
  height: 100%;
  display: grid;
  padding: 2rem 0 0 0;
  grid-template-columns: 0.5fr repeat(7, 1fr);
  grid-template-rows: repeat(64, minmax(0.6rem, max-content));
  justify-items: center;
  border-top: 0.3rem solid black;
}

.column-title {
  padding-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.shift {
  background-color: rgb(115, 131, 145);
  color: rgb(235, 235, 235);
  margin: 0 0.7rem;
  padding: 1.1rem;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
}

#file-upload {
  margin: 2rem;
}

#create-sched {
  margin: 0 auto;
  width: 75vw;
}
